html {
    min-height: 100%;
    font-size: 16px;
    font-family: Arial;
}

body {
    min-height: 100%;
    min-width: 250px;
}

button {
    cursor: pointer;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 100%;
    max-width: 1440px;
    padding: 0.5rem 1rem;
    margin: 0 auto;
}

/**
 * Main navigation
 */
.root-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -ms-flex-negative: 0;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 20%;
    font-size: 1rem;
}

.logo {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
}

.logo--circle {
    width: 10rem;
    height: 10rem;
    margin: 0 auto;
    border: 0.1rem solid #333333;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.root-nav__list {
    min-height: 30rem;
    padding: 1em;
    margin: 1em;
    list-style: none;
    border: 0.1em solid #333333;
}

.root-nav__list-item {
    padding: 1em 0.7em;
}

.root-nav__list-item:first-child {
    margin-top: 1.5em;
}

.root-nav__list-item:last-child {
    margin-bottom: 1.5em;
}

.root-nav__list-link {
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
}

.root-nav__list-link:hover {
    text-decoration: underline;
}

.root-nav__list-link i {
    margin-right: 0.4em;
}

/**
 * End main navigation
 */

/*
 * Main
 */
.main {
    width: 80%;
    padding-left: 1em;
}

.main__static {
    position: relative;
    min-height: 20em;
    padding: 2em 3em;
    font-size: 1rem;
    border: 0.1rem solid #333333;
}

.main__custom-tron {
    position: absolute;
    top: -webkit-calc(50% - 1em);
    top: calc(50% - 1em);
    left: -webkit-calc(50% - 5em);
    left: calc(50% - 5em);
    height: 2em;
    width: 10em;
}

.main__custom-tron p {
    margin: 0;
    text-align: center;
}

.main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-size: 1rem;
}

.main__content-article {
    -ms-flex-preferred-size: 29%;
    -webkit-flex-basis: 29%;
    flex-basis: 29%;
    padding: 0.8em 1.5em;
    border: 0.1rem solid #333333;
}

.main__content-article:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}

.main__content-article h2 {
    margin-top: 0;
}

/*
 * End main
 */

/*
 * News letters form
 */
.subscribe-news-letter {
    margin: 1.5em 0;
    font-size: 1rem;
    text-align: right;
}

/*
* News letters form
*/

/*
 * Footer
 */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    padding: 1em 0;
    margin-top: 1rem;
    border-top: 0.1rem solid #333333;
}

.footer__address {
    font-size: 1rem;
}

.footer__social-link {
    margin-right: 0.8em;
    font-size: 2.5em;
    color: #333333;
    text-decoration: none;
}

.footer__social-link:nth-last-of-type(1) {
    margin-right: 0;
}

/*
 * End Footer
 */

.additional-nav {
    font-size: 1em;
}

.additional-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 0 0.4em;
    list-style: none;
}

.additional-nav__item {
    padding: 0 0.3em;
    border-right: 0.1rem solid #333333;
}

.additional-nav__item:last-child {
    border-right: none;
}

.additional-nav__item-link {
    color: #1763ef;
}

.additional-nav__item-link:hover {
    text-decoration: none;
}

.copyright {
    margin: 0;
}

@media (max-width: 1199px) {
    body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .main {
        padding: 0;
    }

    .logo {
        font-size: 1.3rem;
    }

    .logo--circle {
        width: 13rem;
        height: 13rem;
    }

    .root-nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-bottom: 1rem;
    }

    .root-nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        min-height: 0;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        font-size: 1.5rem;
        border: none;
    }

    .root-nav__list-item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .root-nav__list-item:first-child,
    .root-nav__list-item:last-child {
        margin: 0;
    }

    .main {
        width: 100%;
    }
}

@media (max-width: 991px) {

    .logo--circle {
        width: 9rem;
        height: 9rem;
    }

    .logo {
        font-size: 1rem;
    }

    .root-nav__list {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        -webkit-align-self: center;
        align-self: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        font-size: 1rem;
    }

    .root-nav__list-item {
        padding: 0em 0.35em;
        border-right: 0.1rem solid #333333;
    }

    .root-nav__list-item:last-child {
        border-right: none;
    }

    .root-nav__list-link {
        text-decoration: underline;
        color: #1763ef;
    }

    .root-nav__list-link:hover {
        text-decoration: none;
    }

    .root-nav__list-link i {
        display: none;
    }

    .main__static {
        min-height: 15rem;
        padding: 1rem 0.5rem;
    }

    .main__static h1 {
        margin-top: 0;
    }

    .main__content {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main__content-article {
        -ms-flex-preferred-size: 48%;
        -webkit-flex-basis: 48%;
        flex-basis: 48%;
        margin-bottom: 1rem;
        padding: 0.6rem 1rem;
    }

    .main__content-article p {
        line-height: 1.35;
    }
}

@media (max-width: 767px) {

    .root-nav__list {
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .root-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .subscribe-news-letter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        text-align: left;
    }

    .subscribe-news-letter label {
        width: 100%;
        margin: 0.7em 0;
    }

    .newsletter__email {
        max-width: 100%;
        -webkit-box-flex: 2;
        -ms-flex-positive: 2;
        -webkit-flex-grow: 2;
        flex-grow: 2;
    }

    .newsletter__button {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
    }

    .main__content-article {
        -ms-flex-preferred-size: 100%;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
    }

    .footer__address {
        margin-top: 1em;
    }

    .footer {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }

    .footer__section {
        width: 100%;
    }
}